.list-container{
	margin-right: 20px;
	margin-left: 20px;
}

.product-container{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-right:  2px outset #337AB7;
	border-bottom: 3px outset #337AB7;
}

.scrollable-text{
	width: auto;
	height: 100px;
	overflow-y: scroll;
}

.image-container{
	height: 210px;
}

.title{
	background: #337AB7; 
	color: white;
}

img{
	width: 100%;
	height: 100%;
}
hr{
	height:1px;
	border:none;
	color:#333;
	background-color:#333;
}