#emailform{
	width: fit-content;
	margin: auto;
}

.email-form-container{
	width: 400px;
	border-right:  2px outset #337AB7;
	border-bottom: 3px outset #337AB7;
	border-top:  2px outset #337AB7;
	border-left: 3px outset #337AB7;
	padding: 5px;
	border-radius: 10px;
}